*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #66666623;
    
}
nav img{
    width: 130px;
    height: 20px;
}
.right-div button{
    border-style: none;
    background-color: transparent;
    font-size: 15px;
    margin:10px 20px;
    color: #666666;
}
.right-div button:hover{
    color: rgb(30, 109, 138);
    cursor: pointer;
}
.right-div{
    display: flex;
    justify-content: center;
}
.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div img{
    width: 800px;
    margin-top: 80px;
}
.landing-pge-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#heading1{
    margin-top: 60px;
    font-weight: 400;
    font-size: 48px;
    color: #2f2d2de6;
}
#heading2{
    margin-top: 13px;
    font-weight: 500;
    font-size: 22px;
    color: #343131;
}
#sign-up{
    margin-top: 40px;
    border: none;
    font-size: 19px;
    background-color: #2a77d5;
    color: white;
    height: 45px;
    width: 170px;
    border-radius: 5px;
    margin-bottom: 100px;
}
#sign-up:hover{
    background-color: black;
}
.second-container{
    display: flex;
    justify-content: space-evenly;
}
.right-div img{
    width: 700px;
}
.ecosystem{
    padding: 60px;
}
.left-div h1{ 
    margin-bottom: 50px;
    color: #3d424c;
    font-weight: 530;
}
.left-div h2{
    font-size: 20px;
    font-weight: 500;
    color: #41414b;
    font-family: Arial, sans-serif;
}
.left-div p{
    color: #656565;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size:16px;
    line-height: 1.8;
}
#hyperlinks{
    text-decoration: none;
    font-weight: 500;
    color: #2a77d5;
}
#hyperlinks:hover{
    color: #41414b;
}
.press-logo{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.press-logo img:hover{
    opacity: 0.8;
}
.pricing-div{
    margin-top: 130px;
    display: flex;
    justify-content: space-evenly;
}
.pricing-right-div{
    display: flex;
    margin-top: 60px;
}
.pricing-right-div img{
    height: 90px;
}
.pricing-right-div p{

    color:#45423a;
    font-size: 10px;
    margin-top: 50px;
}

.pricing-left-div{
    width: 400px;
    line-height: 1.8;
}
.pricing-left-div h1{
    color: #45423a;
    font-weight: 500;
    margin-bottom: 23px ;
}
.pricing-left-div p{
    color: #302c2a;
}
.see-pricing{
    display: flex;
}
.see-pricing img{
    width: 20px;
}
.see-pricing a{
    text-decoration: none;
    color: #2a77d5;
    content: "";
}
.see-pricing a:hover{
    color: #3d424c;
}
.free-and-open{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 50px;
}
#free-heading{
    font-size: 16px;
    
}
#left-free img{
    width: 480px;
    height: 380px;
}
#free-heading h1{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    color:#45423a;;
}
#free-heading p{
    width: 600px;
    line-height: 1.8;
    margin-bottom: 20px;
    margin-top: 30px;
}
.open-zerodha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.open-zerodha h1{
    color: #3d424c;
    font-weight: 500;
    margin-top: 100px;
}
.open-zerodha p{
    color: #656565;
    margin: 30px 10px;
    font-size: 16px;
}
.footer-section{
    height: 370px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
#logoimg{
    margin-top: 20px;
    width: 130px;
    height: 20px;
}
#footer-h{
    color: rgba(0, 0, 0, 0.854);
    font-size: 18px;
    font-weight: 500;
}
.footer-div-1{
    margin-top: 20px;
}

.footer-div-1 img{
    width: 20px;
    margin-top: 10px;
    margin-right: 8px;
}
.footer-div-1 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #7d7d7d;
}
.footer-div-2 ul{
    list-style-type: none;
}
.footer-div-2{
    color: #3d424c;
    margin: 30px;
}
.footer-div-2 li{
    margin-top: 10px;
    font-weight: 500;
    font-size: 17px;
}
.footer-div-3 ul{
    list-style-type: none;
}
.footer-div-3{
    color: #3d424c;
    margin: 30px;
}
.footer-div-3 li{
    margin-top: 10px;
    font-weight: 500;
    font-size: 17px;
}
.footer-div-4 ul{
    list-style-type: none;
}
.footer-div-4{
    color: #3d424c;
    margin: 30px;
}
.footer-div-4 li{
    margin-top: 10px;
    font-weight: 500;
    font-size: 17px;
}
#h-roller{
    opacity: 0.3;
}
.zerodha-booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
}
.zerodha-booking p{
    width: 1100px;
    line-height: 1.8;
    color: #656565;
    text-decoration: none;
    margin-top: 5px;
    font-weight: 400;
}
.nse a{
    text-decoration: none;
    color: #666666;
    font-size: 15px;
}
.nse{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 900px;
}
